<?php
$line_channelAccessToken = "Your channel access token";
$line_channelSecret = "Your channel secret";

$GLOBALS["line_channelAccessToken"] = $line_channelAccessToken;
$GLOBALS["line_channelSecret"] = $line_channelSecret;
?>